<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildlyme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Wildly.Me</h1>
        <h2>Discover Your Wild Personality in Just 5 Questions!</h2>
    </header>
    <main>
        <section id="cta">
            <a href="{{ url_for('question') }}" class="no-underline">
                <button id="start-quiz">Start Test</button>
            </a>
        </section>
        <section id="animal-previews">
            <h2 class="align-left">You could be...</h2>
            <div class="animal-icons">
                <img src="static/images/lion_small.png" alt="Lion">
                <img src="static/images/owl_small.png" alt="Owl">
                <img src="static/images/dolphin_small.png" alt="Dolphin">
                <img src="static/images/wolf_small.png" alt="Wolf">
            </div>
        </section>
        <section id="how-it-works">
            <h2 class="align-left">How It Works</h2>
            <ol>
                <li>Answer 5 questions</li>
                <li>Discover the animal you are!</li>
            </ol>
            <p>See <b><a href="https://github.com/ju-henry/WildlyMe">here</a></b> for the details!</p>
        </section>
    </main>
</body>
</html>
