<!DOCTYPE html>
<html>
<head>
    <title>Question</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="question">
        <div class="container">
            <div id="myleft-column">
                <p id="question_number">({{ question_number + 1 }} / 5)</p>
            </div>
            <div class="column right-column">
                <h2>{{ question["question"] }}</h2>
            </div>
        </div>
    </section>
    <section id="info">
        <p id="infotext">{{ question["info"] }}</p>
    </section>
    <section id="answers">
        <form method="POST" id="questionForm">
            {% for option in question.answers %}
            <div class="answer-option">
                <input type="radio" name="answer" value="{{ loop.index - 1 }}" id="answer{{ loop.index }}">
                <label>
                    <div class="container_vertical">
                        <p class="catchword">{{ question.answer_short[loop.index - 1] }}</p>
                        <p id="option_text">{{ option }}</p>
                    </div>
                </label>
            </div>
            {% endfor %}
            <input type="submit" value="Next" id="nextButton" disabled>
        </form>
    </section>
    
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('questionForm');
            const nextButton = document.getElementById('nextButton');

            form.addEventListener('change', function() {
                nextButton.disabled = !form.answer.value;
            });
        });

        (function() {
            var preventNavigation = function(event) {
                window.location.replace("/");
            };

            history.pushState(null, null, location.href);
            window.onpopstate = preventNavigation;

            // Optional: Disable reload on iOS devices
            window.onpageshow = function(event) {
                if (event.persisted) {
                    preventNavigation();
                }
            };
        })();

    </script>

</body>
</html>
