<!DOCTYPE html>
<html>
<head>
    <title>Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="question">
        <h2>{{ question["question"] }}</h2>
    </section>
    <section id="info">
        <h3 class="justify">{{ question["info"] }}</h3>
    </section>
    <section id="answers">
        <form method="POST" id="questionForm">
            {% for option in question.answers %}
            <div class="answer-option">
                <input type="radio" name="answer" value="{{ loop.index - 1 }}" id="answer{{ loop.index }}">
                <label for="answer{{ loop.index }}">
                    <div class="container">
                        <div class="column left-column">
                            <p class="catchword">{{ question.answer_short[loop.index - 1] }}</p>
                        </div>
                        <div class="column right-column">
                            <div class="vertical-bar"></div>
                            <p>{{ option }}</p>
                        </div>
                    </div>
                </label>
            </div>
            {% endfor %}
            <input type="submit" value="Next" id="nextButton" disabled>
        </form>
    </section>
    
    

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('questionForm');
            const nextButton = document.getElementById('nextButton');

            form.addEventListener('change', function() {
                nextButton.disabled = !form.answer.value;
            });
        });
    </script>

</body>
</html>
